%p#notice= notice

%p
  %b Quote:
  = @quote.quote
%p
  %b Quote master:
  = @quote.quote_master
%p
  = image_tag @quote.image.url
  = image_tag @quote.image.url(:medium)
  = image_tag @quote.image.url(:thumb)

= link_to 'Edit', edit_quote_path(@quote)
\|
= link_to 'Back', quotes_path
