%p#notice= notice

%p
  %b Quote:
  = @quote.quote
%p
  %b Quote master:
  = @quote.quote_master
%p
  / = @quote.s3_url
  = image_tag @quote.s3_url

= link_to 'Edit', edit_quote_path(@quote)
|
= link_to 'Back', quotes_path
